@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none; }

#preloader {
  background: black url(../assets/imagenes/loader.gif) no-repeat center center;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100; }

@media only screen and (min-width: 360px) and (max-width: 479px) {
  #preloader {
    background-size: 30%; } }

/*grid*/
.grilla {
  display: grid;
  grid-template-areas: "main main main main main" "footer footer footer footer footer";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 3210px 100px;
  grid-column-gap: 16px;
  grid-row-gap: 8px; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

/*tipografias*/
@font-face {
  font-family: "rosario";
  src: url(../assets/fuentes/Rosario-Regular.ttf); }

@font-face {
  font-family: "monk";
  src: url(../assets/fuentes/Monk-Gothic.ttf); }

@font-face {
  font-family: "old";
  src: url(../assets/fuentes/Old.TTF); }

@font-face {
  font-family: "bask";
  src: url(../assets/fuentes/bask.ttf); }

.animacionNav {
  transition: all 1s; }

.animacionNav:hover {
  transform: translateY(20px);
  font-style: italic; }

.animacionLogo {
  transition: all 1s; }

.animacionLogo:hover {
  transform: translateY(20px); }

ul {
  list-style-type: none; }
  ul a {
    text-decoration: none;
    font-family: "rosario";
    color: #FCEAD4; }

.navMargin {
  margin-top: 20px; }

.barraNavIzq {
  font-size: 20px;
  padding-inline-start: 20px;
  width: 100%; }

.barraNavDer {
  font-size: 20px;
  padding-inline-start: 0px;
  width: 100%; }

.navbar-toggler:hover {
  text-decoration: none; }

.navbar {
  width: 100%; }

.marginTop {
  margin-top: 15px; }

.logo {
  font-family: "old";
  color: #FCEAD4;
  font-size: 50pt; }

.tituloANH, .tituloBio, .tituloEMQ, .tituloSus {
  display: flex;
  justify-content: center;
  color: #F8B133;
  text-align: center;
  font-size: 150pt;
  font-family: "monk";
  font-kerning: none;
  font-weight: normal;
  margin: 20px;
  margin-top: 733px; }

/*cancion*/
.flexCancion {
  text-transform: uppercase;
  font-size: 30px;
  font-family: "rosario";
  color: #FCEAD4;
  width: 100%;
  height: auto; }

.versoPosicion1 {
  display: flex;
  justify-content: flex-start;
  height: auto;
  margin: 96px; }

.versoPosicion2 {
  display: flex;
  height: auto;
  justify-content: center;
  margin: 96px; }

.versoPosicion3 {
  display: flex;
  height: auto;
  justify-content: flex-start;
  margin: 20px; }

.versoPosicion4 {
  display: flex;
  width: 1206px;
  height: auto;
  justify-content: flex-end;
  margin: 96px; }

.versoPosicion5 {
  display: flex;
  width: 914px;
  height: auto;
  justify-content: flex-end;
  margin: 96px; }

.epigrafeFlex {
  display: flex;
  justify-content: center; }

.mainIndex {
  padding-bottom: 821px; }

/*------------------------BIOGRAFIA-------------------------*/
.tituloBio {
  margin: 80px; }

.textoFlex {
  display: flex;
  width: 100%;
  height: auto;
  font-size: 20px;
  flex-direction: column;
  align-items: center; }

.textoUno, .textoDos, .textoTres {
  display: flex;
  width: 675px;
  padding: 20px;
  line-height: 30px;
  margin-block-end: 90px;
  color: #FCEAD4;
  font-family: "rosario";
  text-align: left;
  justify-content: center;
  flex-direction: column; }

.textoTres {
  margin-bottom: 900px; }

.colorParado {
  color: #F8B133; }

/*------------------------EL MAL QUERER-------------------------*/
.tituloEMQ {
  margin: 80px; }

.albumFlex {
  padding: 20px;
  margin-bottom: 25px; }

.repSpotify {
  width: 500px;
  margin-bottom: 140px; }

.cancionesTamaño {
  width: 33%;
  padding: 40px; }

.tituloCancion {
  display: flex;
  justify-content: center;
  color: #FCEAD4;
  width: 100%; }

.flexFooterEMQ {
  margin-top: 120px; }

.container {
  padding-left: 0px;
  padding-right: 0px; }

.padB {
  padding-bottom: 50px; }

/*------------------------VIDEOS-------------------------*/
.videos {
  margin-block-start: 870px;
  margin-block-end: 120px; }

.videosEspacio {
  padding: 100px; }

.padV {
  padding-bottom: 100px; }

.tamañoVideo {
  width: 100%;
  height: 500px; }

.formulario {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 1060px; }

.formulario form {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; }

.formularioDatos {
  margin: 22px;
  padding: 25px;
  border-radius: 1.3em;
  background-color: #F8B133;
  border: #F8B133;
  font-family: "rosario";
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  transition: all 1s; }

.formularioDatos:hover {
  background-color: #FCEAD4;
  text-decoration: none;
  border: none; }

.tituloSus {
  margin: 80px; }

.epigrafeSus {
  margin-top: 20px;
  margin-bottom: 200px;
  color: #FCEAD4;
  width: 469px; }

svg {
  fill: #F8B133;
  width: 40px;
  height: 40px; }

.flexFooter {
  display: flex;
  align-content: space-between;
  justify-content: center;
  height: auto;
  margin-top: 280px;
  margin-bottom: 20px;
  width: 100%; }

.redesWidth {
  display: flex;
  align-items: space-around;
  justify-content: center;
  padding: 45px; }

.footerBio {
  margin-bottom: 34px; }

.footerVid {
  margin-top: -166px;
  margin-bottom: 34px; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

.animacionFooter {
  transition: all 0.3s; }

.animacionFooter:hover {
  fill: #FCEAD4;
  transform: translateY(5px); }

.footerAutor {
  color: #F8B133;
  font-family: "rosario";
  padding: 20px;
  font-style: italic; }

.footerSl {
  text-align: center;
  width: 100%; }

a.animacionNav {
  color: #F8B133; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: #F8B133; }

.parallax, .parallax__2, .parallax__3, .parallax__4, .parallax__5 {
  background-image: url(../assets/imagenes/portada.png);
  background-position-x: initial;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }

.parallax__2 {
  background-image: url(../assets/imagenes/biografia.png);
  background-position-y: bottom; }

.parallax__3 {
  background-image: url(../assets/imagenes/elmalquerer.png); }

.parallax__4 {
  background-image: url(../assets/imagenes/videos.png); }

.parallax__5 {
  background-image: url(../assets/imagenes/suscribirse.png);
  background-position-y: bottom; }

@media only screen and (min-width: 1920px) {
  .grilla {
    grid-template-rows: 4740px 100px; }
  .navMargin {
    margin-top: 50px; }
  .marginTop {
    margin-top: 30px; }
  .logo {
    font-size: 52pt; }
  .barraNavIzq {
    font-size: 22pt; }
  .barraNavDer {
    font-size: 22pt; }
  .tituloANH, .tituloBio, .tituloEMQ, .tituloSus {
    margin-top: 1040px; }
  .flexCancion {
    font-size: 40px;
    margin-bottom: 20px; }
  .versoPosicion1 {
    margin: 160px;
    margin-left: 160px; }
  .versoPosicion2 {
    margin: 160px; }
  .versoPosicion3 {
    margin: 84px; }
  .versoPosicion4 {
    margin: 160px;
    margin-left: 590px; }
  .versoPosicion5 {
    margin: 160px; }
  .tituloBio {
    margin: 20px; }
  .textoFlex {
    font-size: 25px; }
  .textoUno, .textoDos, .textoTres {
    line-height: 35px; }
  .tituloEMQ {
    margin: 50px; }
  .albumImagen {
    width: 840px; }
  .repSpotify {
    width: 840px; }
  .containerEMQ {
    margin: 20px; }
  .videos {
    margin-block-start: 1161px; }
  .tamañoVideo {
    width: 100%;
    height: 530px; }
  .tituloSus {
    margin: 50px; }
  .formulario {
    margin-bottom: 1400px; }
  .formularioDatos {
    font-size: 40px; } }

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .parallax, .parallax__2, .parallax__3, .parallax__4, .parallax__5 {
    background-image: url(../assets/imagenes/portada2.png); }
  .nav-item {
    font-size: 13pt; }
  .grilla {
    grid-template-rows: 2817px 423px; }
  .tituloANH, .tituloBio, .tituloEMQ, .tituloSus {
    font-size: 120pt;
    margin-top: 560px; }
  .flexCancion {
    font-size: 23px; }
  .versoPosicion4 {
    width: 890px; }
  .versoPosicion5 {
    width: 670px; }
  .parallax__2 {
    background-image: url(../assets/imagenes/portadaBM.png); }
  .tituloBio {
    font-size: 115pt;
    margin-top: 76px; }
  .textoFlex {
    font-size: 18px; }
  .textoUno, .textoDos, .textoTres {
    width: 630px; }
  .textoTres {
    margin-bottom: 370px; }
  .parallax__3 {
    background-image: url(../assets/imagenes/elmalquerer.png); }
  .tituloEMQ {
    margin-top: 76px; }
  .footerEMQ {
    margin-top: 80px; }
  .parallax__4 {
    background-image: url(../assets/imagenes/portadaVM.png);
    background-position-y: -128px; }
  .videos {
    margin-block-start: 650px; }
  .parallax__5 {
    background-image: url(../assets/imagenes/suscribirse.png); }
  .tituloSus {
    margin-top: 76px; }
  .formulario {
    margin-bottom: 754px; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .logo {
    font-size: 50pt;
    margin-top: 20px; }
  .navbar-toggler-icon {
    width: 40px;
    height: 40px; }
  .navbar-toggler {
    font-size: 9pt;
    background-color: transparent; }
  .bg-light {
    background-color: #F8B133 !important; }
  .nav-item {
    font-size: 18pt; }
  .barraNavIzq {
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 10px;
    margin-bottom: 0px; }
  .barraNavDer {
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 10px;
    margin-top: -17px; }
  .parallax, .parallax__2, .parallax__3, .parallax__4, .parallax__5 {
    background-image: url(../assets/imagenes/portadaM.png);
    background-size: cover; }
  .grilla {
    grid-template-rows: 2600px 430px; }
  .tituloANH, .tituloBio, .tituloEMQ, .tituloSus {
    font-size: 80pt;
    margin: 20px;
    margin-top: 385px; }
  .flexCancion {
    font-size: 18pt; }
  .versoPosicion1 {
    width: 675px;
    margin-left: 52px; }
  .versoPosicion2 {
    width: 536px; }
  .versoPosicion3 {
    width: 668px; }
  .versoPosicion4 {
    width: 667px;
    margin-left: 86px; }
  .versoPosicion5 {
    width: 500px; }
  .parallax__2 {
    background-image: url(../assets/imagenes/portadaBM.png); }
  .tituloBio {
    margin-top: 40px; }
  .textoUno, .textoDos, .textoTres {
    width: 580px;
    margin-block-end: 50px; }
  .textoTres {
    margin-bottom: 270px; }
  .parallax__3 {
    background-image: url(../assets/imagenes/elmalquerer.png);
    background-repeat: repeat; }
  .tituloEMQ {
    margin-top: 70px; }
  .cancionesTamaño {
    width: 32%; }
  .parallax__4 {
    background-image: url(../assets/imagenes/portadaVM.png); }
  .videos {
    margin-block-start: 542px; }
  .videosEspacio {
    padding: 40px; }
  .tamañoVideo {
    height: 410px; }
  .parallax__5 {
    background-image: url(../assets/imagenes/portadaSM.png); }
  .tituloSus {
    margin-top: 40px; }
  .formulario {
    margin-bottom: 680px; }
  .formularioDatos {
    font-size: 18px; }
  svg {
    width: 50px;
    height: 50px; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .flexHeader {
    display: flex; }
  .container {
    padding: 0px; }
  .logo {
    justify-content: center;
    font-size: 40pt;
    margin: 0px;
    padding: 10px; }
  .navbar-toggler {
    font-size: 9pt;
    background-color: transparent; }
  .bg-light {
    background-color: #F8B133 !important; }
  .navbar-toggler-icon {
    display: inline-block;
    width: 30px;
    height: 30px; }
  .nav-item {
    font-size: 12pt; }
  .barraNavIzq {
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 10px;
    margin-bottom: 0px; }
  .barraNavDer {
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 10px;
    margin-top: -17px; }
  .animacionNav:hover {
    transform: none; }
  .flexFooter {
    display: flex;
    align-content: space-between;
    justify-content: center;
    height: auto;
    margin-top: 270px;
    margin-bottom: 200px;
    width: 100%; }
  .redesWidth {
    display: flex;
    align-items: space-around;
    justify-content: center;
    padding: 20px; }
  svg {
    width: 25px;
    height: 25px; }
  .parallax, .parallax__2, .parallax__3, .parallax__4, .parallax__5 {
    background-image: url(../assets/imagenes/portada2.png); }
  .tituloANH, .tituloBio, .tituloEMQ, .tituloSus {
    font-size: 50pt;
    margin-top: 200px; }
  .nav-item {
    font-size: 10pt; }
  .logo {
    font-size: 40pt; }
  .grilla {
    grid-template-rows: 1332px 100px; }
  .flexCancion {
    font-size: 9pt; }
  .versoPosicion1 {
    margin-top: 48px;
    margin-bottom: 48px;
    margin-right: 0px;
    margin-left: 40px;
    width: 374px; }
  .versoPosicion2 {
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 147px;
    margin-right: 0px;
    width: 185px; }
  .versoPosicion3 {
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 16px;
    margin-right: 0px;
    width: 380px; }
  .versoPosicion4 {
    width: 372px;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 96px;
    margin-right: 0px; }
  .versoPosicion5 {
    margin-top: 48px;
    margin-bottom: 48px;
    width: 245px; }
  .parallax__2 {
    background-image: url(../assets/imagenes/portadaBM.png); }
  .tituloBio {
    font-size: 44pt;
    margin: 20px;
    margin-top: 35px; }
  .textoFlex {
    font-size: 18px; }
  .textoUno, .textoDos, .textoTres {
    display: flex;
    width: 395px;
    padding: 15px;
    line-height: 30px;
    margin-block-end: 0px;
    color: #FCEAD4;
    text-align: center;
    justify-content: center;
    flex-direction: column; }
  .flexFooter {
    margin-top: 270px;
    margin-bottom: 18px; }
  .footerBio {
    margin-bottom: 18px; }
  .parallax__3 {
    background-image: url(../assets/imagenes/elmalquerer.png); }
  .tituloEMQ {
    font-size: 44pt;
    margin: 20px;
    margin-top: 35px; }
  .cancionesTamaño {
    width: 100%;
    padding: 40px; }
  .albumImagen {
    width: 100%;
    padding: 20px; }
  .repSpotify {
    width: 400px; }
  .epigrafeEMQ {
    margin-top: -17px;
    margin-bottom: 60px;
    width: 290px !important;
    font-size: 12px; }
  .footerEMQ {
    margin-top: -20px; }
  .parallax__4 {
    background-image: url(../assets/imagenes/portadaVM.png); }
  .videos {
    margin-block-start: 300px;
    margin-block-end: 0px; }
  .videosEspacio {
    padding: 45px; }
  .footerVid {
    margin-bottom: 18px;
    margin-top: -84px; }
  .tamañoVideo {
    width: 100%;
    height: 320px; }
  .parallax__5 {
    background-image: url(../assets/imagenes/portadaSM.png); }
  .tituloSus {
    margin: 20px; }
  .formulario {
    margin-bottom: 450px; }
  .formularioDatos {
    margin: 12px;
    padding: 20px;
    font-size: 12pt; } }

@media only screen and (min-width: 580px) and (max-width: 679px) {
  .nav-item {
    font-size: 16px; }
  .grilla {
    grid-template-rows: 1380px 355px; }
  .tituloANH, .tituloBio, .tituloEMQ, .tituloSus {
    font-size: 65pt;
    margin-top: 265px; }
  .flexCancion {
    font-size: 11pt; }
  .versoPosicion1 {
    width: 420px; }
  .versoPosicion2 {
    width: 200px;
    margin-left: 180px; }
  .versoPosicion3 {
    width: 448px; }
  .versoPosicion4 {
    width: 407px;
    margin-left: 155px; }
  .versoPosicion5 {
    margin-left: 178px; }
  .tituloBio, .tituloEMQ, .tituloSus {
    margin-top: 39px; }
  .textoFlex {
    font-size: 20px; }
  .textoUno, .textoDos, .textoTres {
    width: 493px; }
  .footerBio {
    margin-top: 360px; }
  .repSpotify {
    width: 498px; }
  .videos {
    margin-block-end: 367px; }
  .footerVid {
    margin-top: -378px; }
  .formulario {
    margin-bottom: 801px; } }

@media only screen and (min-width: 640px) and (max-width: 767px) {
  .grilla {
    grid-template-rows: 1611px 355px; }
  .tituloANH, .tituloBio, .tituloEMQ, .tituloSus {
    font-size: 75pt;
    margin-top: 317px; }
  .flexCancion {
    font-size: 13pt; }
  .versoPosicion1 {
    margin-top: 55px;
    margin-bottom: 55px;
    width: 494px; }
  .versoPosicion2 {
    margin-top: 55px;
    margin-bottom: 55px;
    width: 265px; }
  .versoPosicion3 {
    margin-top: 55px;
    margin-bottom: 55px;
    width: 524px; }
  .versoPosicion4 {
    margin-top: 55px;
    margin-bottom: 55px;
    width: 483px;
    margin-left: 141px; }
  .versoPosicion5 {
    margin-top: 55px;
    margin-bottom: 55px;
    margin-left: 213px; }
  .tituloBio, .tituloEMQ, .tituloSus {
    margin-top: 26px; }
  .footerBio {
    margin-top: 386px;
    margin-bottom: 12px; }
  .parallax__4 {
    background-position-y: -84px; }
  .videos {
    margin-block-start: 323px; }
  .formulario {
    margin-bottom: 834px; } }

@media only screen and (min-width: 360px) and (max-width: 479px) {
  .grilla {
    display: grid;
    grid-template-areas: "titulo titulo titulo" "main main main" "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0px 1380px 100px;
    grid-column-gap: 8px;
    grid-row-gap: 4px; }
  .tituloANH, .tituloBio, .tituloEMQ, .tituloSus {
    grid-area: titulo; }
  main {
    grid-area: main; }
  footer {
    grid-area: footer; }
  .parallax, .parallax__2, .parallax__3, .parallax__4, .parallax__5 {
    background-image: url(../assets/imagenes/portadaM.png); }
  .flexHeader {
    display: flex; }
  .container {
    padding: 0px; }
  .logo {
    justify-content: center;
    font-size: 40pt;
    margin: 0px;
    padding: 10px; }
  .navbar-toggler {
    font-size: 9pt;
    background-color: transparent; }
  .bg-light {
    background-color: #F8B133 !important; }
  .navbar-toggler-icon {
    display: inline-block;
    width: 30px;
    height: 30px; }
  .nav-item {
    font-size: 12pt; }
  .barraNavIzq {
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 10px;
    margin-bottom: 0px; }
  .barraNavDer {
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 10px;
    margin-top: -17px; }
  .animacionNav:hover {
    transform: none; }
  .tituloANH, .tituloBio, .tituloEMQ, .tituloSus {
    font-size: 45pt;
    margin: 20px;
    margin-top: 125px; }
  .flexCancion {
    font-size: 9pt; }
  .versoPosicion1 {
    margin-top: 48px;
    margin-bottom: 48px;
    margin-right: 0px;
    margin-left: 26px;
    width: 337px; }
  .versoPosicion2 {
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 120px;
    margin-right: 0px;
    width: 165px; }
  .versoPosicion3 {
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 16px;
    margin-right: 0px;
    width: 335px; }
  .versoPosicion4 {
    width: 353px;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 18px;
    margin-right: 0px; }
  .versoPosicion5 {
    margin-top: 48px;
    margin-bottom: 48px;
    width: 251px; }
  .videpFlex {
    margin: 20px; }
  .flexVideo {
    padding: 40px;
    margin-bottom: -20px; }
  .epigrafeIndex {
    width: 280px;
    font-size: 12px; }
  .flexFooter {
    display: flex;
    align-content: space-between;
    justify-content: center;
    height: auto;
    margin-top: 25px;
    width: 100%; }
  .footerAutor {
    font-size: 6pt;
    padding-bottom: 10px; }
  .redesWidth {
    display: flex;
    align-items: space-around;
    justify-content: center;
    padding: 20px; }
  svg {
    width: 25px;
    height: 25px; }
  .row {
    margin-left: 0px; }
  .parallax__2 {
    background-image: url(../assets/imagenes/portadaBM.png); }
  .tituloBio {
    font-size: 44pt;
    margin: 20px;
    margin-top: 35px; }
  .textoFlex {
    font-size: 18px; }
  .textoUno, .textoDos, .textoTres {
    display: flex;
    width: 395px;
    padding: 15px;
    line-height: 30px;
    margin-block-end: 0px;
    color: #FCEAD4;
    text-align: center;
    justify-content: center;
    flex-direction: column; }
  .footerBio {
    margin-top: 202px;
    margin-bottom: -15px; }
  .parallax__3 {
    background-image: url(../assets/imagenes/elmalquerer.png); }
  .tituloEMQ {
    margin-top: 35px; }
  .cancionesTamaño {
    width: 100%;
    padding: 40px; }
  .albumImagen {
    width: 100%;
    padding: 20px; }
  .repSpotify {
    width: 334px; }
  .epigrafeEMQ {
    margin-top: -17px;
    margin-bottom: 60px;
    width: 290px !important;
    font-size: 12px; }
  .footerEMQ {
    margin-top: -20px; }
  .parallax__4 {
    background-image: url(../assets/imagenes/portadaVM.png); }
  .videos {
    margin-block-start: 220px;
    margin-block-end: 0px; }
  .videosEspacio {
    padding: 20px; }
  .footerVid {
    margin-bottom: -12px; }
  .tamañoVideo {
    width: 100%;
    height: 320px; }
  .parallax__5 {
    background-image: url(../assets/imagenes/portadaSM.png); }
  .tituloSus {
    margin: 20px; }
  .formulario {
    margin-bottom: 265px; }
  .formularioDatos {
    margin: 12px;
    padding: 20px;
    font-size: 12pt; } }

@media only screen and (min-width: 0px) and (max-width: 360px) {
  .nav-item {
    font-size: 10pt; }
  .grilla {
    grid-template-rows: 0px 1162px 100px; }
  .tituloANH, .tituloBio, .tituloEMQ, .tituloSus {
    margin-top: 90px; }
  .flexCancion {
    font-size: 7pt; }
  .versoPosicion1 {
    width: 280px; }
  .versoPosicion2 {
    width: 127px;
    margin-left: 90px; }
  .versoPosicion4 {
    width: 265px;
    margin-left: 81px; }
  .versoPosicion5 {
    width: 164px; }
  .tituloBio {
    font-size: 40pt; }
  .textoFlex {
    font-size: 16px; }
  .textoUno, .textoDos, .textoTres {
    width: 351px; }
  .footerBio {
    margin-top: 212px; }
  .repSpotify {
    width: 280px; }
  .videos {
    margin-block-start: 148px; }
  .formularioDatos {
    margin: 10px;
    padding: 15px;
    font-size: 10pt; } }
