@charset "UTF-8";
/*grid*/
.grilla {
  display: grid;
  grid-template-areas: "main main main main main" "footer footer footer footer footer";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 3210px 100px;
  grid-column-gap: 16px;
  grid-row-gap: 8px; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

/*tipografias*/
@font-face {
  font-family: "rosario";
  src: url(../assets/fuentes/Rosario-Regular.ttf); }

@font-face {
  font-family: "monk";
  src: url(../assets/fuentes/Monk-Gothic.ttf); }

@font-face {
  font-family: "old";
  src: url(../assets/fuentes/Old.TTF); }

.animacionNav {
  transition: all 1s; }

.animacionNav:hover {
  transform: translateY(20px);
  font-style: italic; }

.animacionLogo {
  transition: all 1s; }

.animacionLogo:hover {
  transform: translateY(20px); }

ul {
  list-style-type: none; }
  ul a {
    text-decoration: none;
    font-family: "rosario";
    color: #FCEAD4; }

.navMargin {
  margin-top: 20px; }

.barraNavIzq {
  font-size: 20px;
  padding-inline-start: 20px;
  width: 100%; }

.barraNavDer {
  font-size: 20px;
  padding-inline-start: 0px;
  width: 100%; }

.navbar-toggler:hover {
  text-decoration: none; }

.navbar {
  width: 100%; }

.nazIzq {
  display: flex;
  justify-content: flex-start; }

.marginTop {
  margin-top: 15px; }

.logo {
  font-family: "old";
  color: #FCEAD4;
  font-size: 50pt; }

.tituloANH, .tituloBio, .tituloEMQ {
  display: flex;
  justify-content: center;
  color: #F8B133;
  text-align: center;
  font-size: 150pt;
  font-family: "monk";
  font-kerning: none;
  font-weight: normal;
  margin: 20px;
  margin-top: 733px; }

/*cancion*/
.flexCancion {
  text-transform: uppercase;
  font-size: 30px;
  font-family: "rosario";
  color: #FCEAD4;
  width: 100%;
  height: auto; }

.versoPosicion1 {
  display: flex;
  justify-content: flex-start;
  height: auto;
  margin: 96px; }

.versoPosicion2 {
  display: flex;
  height: auto;
  justify-content: center;
  margin: 96px; }

.versoPosicion3 {
  display: flex;
  height: auto;
  justify-content: flex-start;
  margin: 20px; }

.versoPosicion4 {
  display: flex;
  width: 1206px;
  height: auto;
  justify-content: flex-end;
  margin: 96px; }

.versoPosicion5 {
  display: flex;
  width: 914px;
  height: auto;
  justify-content: flex-end;
  margin: 96px; }

.videpFlex {
  display: flex;
  margin: 150px;
  flex-direction: column; }

.flexVideo {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  margin-bottom: 25px; }

.epigrafeFlex {
  display: flex;
  justify-content: center; }

.epigrafeIndex {
  width: 560px;
  text-align: center;
  color: #FCEAD4;
  font-family: "rosario"; }

main {
  padding-bottom: 821px; }

.tituloBio {
  margin: 80px; }

.textoFlex {
  display: flex;
  width: 100%;
  height: auto;
  font-size: 20px;
  flex-direction: column;
  align-items: center; }

.textoUno, .textoDos, .textoTres {
  display: flex;
  width: 675px;
  padding: 20px;
  line-height: 30px;
  margin-block-end: 90px;
  color: #FCEAD4;
  text-align: center;
  justify-content: center;
  flex-direction: column; }

.colorParado {
  color: #F8B133; }

/*------------------------EL MAL QUERER-------------------------*/
.tituloEMQ {
  margin: 80px; }

.epigrafeEMQ {
  margin-top: 20px;
  margin-bottom: 200px;
  color: #FCEAD4;
  width: 469px; }

.albumFlex {
  display: flex;
  justify-content: center;
  padding: 20px; }

.cancionesTamaño {
  width: 33%;
  padding: 40px; }

.tituloCancion {
  display: flex;
  justify-content: center;
  color: #FCEAD4;
  width: 100%; }

.flexFooterEMQ {
  margin-top: 120px; }

.container {
  padding-left: 0px;
  padding-right: 0px; }

.padB {
  padding-bottom: 50px; }

/*------------------------VIDEOS-------------------------*/
.videos {
  margin-block-start: 870px;
  margin-block-end: 120px; }

.videosEspacio {
  padding: 100px; }

.padV {
  padding-bottom: 100px; }

svg {
  fill: #F8B133;
  width: 40px;
  height: 40px; }

.flexFooter {
  display: flex;
  align-content: space-between;
  justify-content: center;
  height: auto;
  margin-top: 100px;
  margin-bottom: 250px;
  width: 100%; }

.redesWidth {
  display: flex;
  align-items: space-around;
  justify-content: center;
  padding: 45px; }

.footerBio {
  margin-bottom: 34px; }

.footerVid {
  margin-top: -166px;
  margin-bottom: 34px; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

a.animacionNav {
  color: #F8B133; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: #F8B133; }

.parallax, .parallax__2, .parallax__3, .parallax__4, .parallax__5 {
  background-image: url(../assets/imagenes/portada.png);
  background-position-x: initial;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  width: 100%; }

.parallax__2 {
  background-image: url(../assets/imagenes/biografia.png);
  background-position-y: bottom; }

.parallax__3 {
  background-image: none;
  background-color: black; }

.parallax__4 {
  background-image: url(../assets/imagenes/portada-videos.jpg); }

.parallax__5 {
  background-image: url(../assets/imagenes/suscribirse.png);
  background-position-y: bottom; }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .grilla {
    display: grid;
    grid-template-areas: "titulo titulo titulo" "main main main" "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0px 1725px 150px;
    grid-column-gap: 8px;
    grid-row-gap: 4px; }
  .tituloANH, .tituloBio, .tituloEMQ {
    grid-area: titulo; }
  main {
    grid-area: main; }
  footer {
    grid-area: footer; }
  .parallax, .parallax__2, .parallax__3, .parallax__4, .parallax__5 {
    background-position-y: 70px; }
  .flexHeader {
    display: flex; }
  .container {
    padding: 0px; }
  .logo {
    justify-content: center;
    font-size: 40pt;
    margin: 0px;
    padding: 10px; }
  .navbar-toggler {
    font-size: 9pt;
    background-color: transparent; }
  .bg-light {
    background-color: #F8B133 !important; }
  .navbar-toggler-icon {
    display: inline-block;
    width: 30px;
    height: 30px; }
  .tituloANH, .tituloBio, .tituloEMQ {
    font-size: 54pt;
    margin: 20px;
    margin-top: 225px; }
  .flexCancion {
    font-size: 9pt; }
  .versoPosicion1 {
    margin-top: 48px;
    margin-bottom: 48px;
    margin-right: 0px;
    margin-left: 26px;
    width: 337px; }
  .versoPosicion2 {
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 120px;
    margin-right: 0px;
    width: 165px; }
  .versoPosicion3 {
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 16px;
    margin-right: 0px;
    width: 335px; }
  .versoPosicion4 {
    width: 353px;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 18px;
    margin-right: 0px; }
  .versoPosicion5 {
    margin-top: 48px;
    margin-bottom: 48px;
    width: 251px; }
  .videpFlex {
    margin: 20px; }
  .flexVideo {
    padding: 40px; }
  .epigrafeFlex {
    width: 376px; }
  .epigrafeIndex {
    width: 315px; }
  .flexFooter {
    display: flex;
    align-content: space-between;
    justify-content: center;
    height: auto;
    margin-top: 50px;
    margin-bottom: 200px;
    width: 100%; }
  .redesWidth {
    display: flex;
    align-items: space-around;
    justify-content: center;
    padding: 20px; }
  svg {
    width: 25px;
    height: 25px; }
  .row {
    margin-left: 0px; } }
