/*tipografias*/
@font-face {
    font-family: "rosario";
    src: url(../assets/fuentes/Rosario-Regular.ttf);
}
@font-face {
    font-family: "monk";
    src: url(../assets/fuentes/Monk-Gothic.ttf);
}
$colorLectura: #FCEAD4;
$amarillo: #F8B133;
$negro: black;
$tipoLectura: "rosario";
$tipoDisplay: "monk";
$pad20: 20px;
$footerWidhtD: 40px;
$footerHeightD: 40px;
$footerWidhtM: 25px;
$footerHeightM: 25px;

.animacionNav {
    transition: all 1s;
}

.animacionNav:hover {
    transform: translateY(20px);
    font-style: italic;
}