/*tipografias*/
@font-face {
    font-family: "rosario";
    src: url(../assets/fuentes/Rosario-Regular.ttf);
}
@font-face {
    font-family: "monk";
    src: url(../assets/fuentes/Monk-Gothic.ttf);
}
@font-face {
    font-family: "old";
    src: url(../assets/fuentes/Old.TTF);
}
$paletaColores: (
    lectura: #FCEAD4,
    amarillo: #F8B133,
    negro: black,
);
$tipografias: (
    lectura: "rosario",
    display: "monk",
);
@mixin footerTamaño ($widht, $height) {
    width: $widht;
    height: $height;
}
$footerTamaño: (
    widhtD: 40px,
    heightD: 40px,
    widhtM: 25px,
    heightM: 25px,
);
$marginCancion: (
    arriba: 48px,
    abajo: 48px,
);

.animacionNav {
    transition: all 1s;
}

.animacionNav:hover {
    transform: translateY(20px);
    font-style: italic;
}
.animacionLogo {
    transition: all 1s;
}

.animacionLogo:hover {
    transform: translateY(20px);
}