svg {
    fill: map-get($paletaColores,amarillo);
    @include footerTamaño(40px,40px);
}
.flexFooter {
    display: flex;
    align-content: space-between;
    justify-content: center;
    height: auto;
    margin-top: 280px;
    margin-bottom: 250px;
    width: 100%;
}
.redesWidth {
    display: flex;
    align-items: space-around;
    justify-content: center;
    padding: 45px;
}
.footerBio {
    margin-bottom: 34px;
}
.footerVid {
    margin-top: -166px;
    margin-bottom: 34px;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}