svg {
    fill: map-get($paletaColores,amarillo);
    @include footerTamaño(40px,40px);
}
.flexFooter {
    display: flex;
    align-content: space-between;
    justify-content: center;
    height: auto;
    margin-top: 280px;
    margin-bottom: 20px;
    width: 100%;
}
.redesWidth {
    display: flex;
    align-items: space-around;
    justify-content: center;
    padding: 45px;
}
.footerBio {
    margin-bottom: 34px;
}
.footerVid {
    margin-top: -166px;
    margin-bottom: 34px;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.animacionFooter {
    transition: all 0.3s;
}
.animacionFooter:hover {
    fill: map-get($paletaColores, lectura);
    transform: translateY(5px);
}
.footerAutor {
    color: map-get($paletaColores, amarillo);
    font-family: map-get($tipografias, lectura);
    padding: 20px;
    font-style: italic;
}
.footerSl {
    text-align: center;
    width: 100%;
}