@media only screen and (min-width: 768px) and (max-width: 1023px){
    .logo {
        font-size: 50pt;
        margin-top: 20px;
    }
    .navbar-toggler-icon {
        width: 40px;
        height: 40px;
    }
    .navbar-toggler {
        font-size: 9pt;
        background-color: transparent;
    }
    .bg-light {
        background-color: map-get($paletaColores,amarillo)!important;
    }
    .nav-item {
        font-size: 18pt;
    }
    .barraNavIzq {
        flex-direction: column !important;
        align-items: flex-start !important;
        padding: 10px;
        margin-bottom: 0px;
    }
    .barraNavDer {
        flex-direction: column !important;
        align-items: flex-start !important;
        padding: 10px;
        margin-top: -17px;
    }
    // index
    .parallax {
        background-image: url(../assets/imagenes/portadaM.png);
        background-size: cover;
    }
    .grilla {
        grid-template-rows: 2600px 430px;
    }
    .tituloANH {
        font-size: 80pt;
        margin: 20px;
        margin-top: 470px;
    }
    .flexCancion {
        font-size: 18pt;
    }
    .versoPosicion1 {
        width: 675px;
        margin-left: 52px;
    }
    .versoPosicion2 {
        width: 536px;
    }
    .versoPosicion3 {
        width: 668px;
    }
    .versoPosicion4 {
        width: 667px;
        margin-left: 86px;
    }
    .versoPosicion5 {
        width: 500px;
    }
    // biografia 
    .parallax__2 {
        background-image: url(../assets/imagenes/portadaBM.png);
    }
    .tituloBio {
        margin-top: 40px;
    }
    .textoUno {
        width: 580px;
        margin-block-end: 50px;
    }
    .textoTres {
        margin-bottom: 270px;
    }
    // el mal querer 
    .parallax__3 {
        background-image: url(../assets/imagenes/elmalquerer.png);
        background-repeat: repeat;
    }
    .tituloEMQ {
        margin-top: 70px;
    }
    .cancionesTamaño {
        width: 32%;
    }
    // videos 
    .parallax__4 {
        background-image: url(../assets/imagenes/portadaVM.png);
    }
    .videos {
        margin-block-start: 542px;
    }
    .videosEspacio {
        padding: 40px;
    }
    .tamañoVideo {
        height: 410px;
    }
    // suscribirse 
    .parallax__5 {
        background-image: url(../assets/imagenes/portadaSM.png);
    }
    .tituloSus {
        margin-top: 40px;
    }
    .formulario {
        margin-bottom: 680px;
    }
    .formularioDatos {
        font-size: 18px
    }
    // footer
    svg {
        @include footerTamaño(50px,50px);
    }
}