//vista mobile
@media only screen and (min-width: 0px) and (max-width: 768px){
    .grilla {
        display: grid;
        grid-template-areas: 
        "titulo titulo titulo"
        "main main main"
        "footer footer footer";
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0px 1725px 150px;
        grid-column-gap: 8px;
        grid-row-gap: 4px; 
    } 
    .tituloANH {
        grid-area: titulo;
    }
    main {
        grid-area: main;
    }
    footer {
        grid-area: footer;
    }

//nav
.flexHeader {
    display: flex;
}
.container {
    padding: 0px;
}
.logo {
    justify-content: center;
    width: 400px;
    margin: 0px ;
    padding: 10px;
}
.navbar-toggler {
    font-size: 9pt;
    background-color: transparent;
}
.bg-light {
    background-color: map-get($paletaColores,amarillo)!important;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
}
.logo {
    padding: 20px;
}

//main
.tituloANH {
    font-size: 54pt;
    margin: 20px;
    margin-top: 225px;
}
.flexCancion {
    font-size: 9pt;
}
.versoPosicion1 {
    margin: 48px;
    width: 342px;
}
.versoPosicion2 {
    margin: 48px;
}
.versoPosicion3 {
    display: flex;
    height: auto;
    justify-content: flex-start;
    margin: 20px;
}
.versoPosicion4 {
    width: 353px;
    margin: 48px;
}
.versoPosicion5 {
    margin: 48px;
    width: 276px;
}
.videpFlex {
    margin: 20px;
}
.flexVideo {
    padding: 40px;
}
.epigrafeFlex {
    width: 376px;
}
.epigrafeIndex {
    width: 315px;
    }
//footer
.flexFooter {
    display: flex;
    align-content: space-between;
    justify-content: center;
    height: auto;
    margin-top: 50px;
    margin-bottom: 200px;
    width: 100%;
}
.redesWidth {
    display: flex;
    align-items: space-around;
    justify-content: center;
    padding: 20px;
}
svg {
    @include footerTamaño(25px,25px);
}
.row {
    margin-left: 0px;
}
}