ul {
    list-style-type: none;
    a {
        text-decoration: none;
        font-family: map-get($tipografias,lectura);
        color: map-get($paletaColores,lectura);
    }
} 
.navMargin {
    margin-top: 20px;
}
.barraNavIzq {
        font-size: 20px;
        padding-inline-start: 20px;
        width: 100%;
    }

.barraNavDer {
        font-size: 20px;
        padding-inline-start: 0px;
        width: 100%;
    }
    .navbar-toggler:hover {
        text-decoration: none;
    }
    .navbar {
        width: 100%;
    }
.marginTop {
    margin-top: 15px;
}
.logo {
    font-family: "old";
    color: map-get($paletaColores,lectura);
    font-size: 50pt;
}