* {
    text-decoration: none;
}

ul {
    list-style-type: none;
    a {
        text-decoration: none;
        font-family: $tipoLectura;
        color: $colorLectura;
    }
} 

.barraNavIzq {
        font-size: 20px;
        padding-inline-start: 20px;
        width: 100%;
    }

.barraNavDer {
        font-size: 20px;
        padding-inline-start: 0px;
        width: 100%;
    }
    .navbar-toggler:hover {
        text-decoration: none;
    }
    .navbar {
        width: 100%;
    }
    .nazIzq {
        display: flex;
        justify-content: flex-start;
    }