.tituloANH {
    display: flex;
    justify-content: center;
    color: map-get($paletaColores,amarillo);
    text-align: center;
    font-size: 150pt;
    font-family: map-get($tipografias,display);
    font-kerning: none;
    font-weight: normal;
    margin: 20px;
    margin-top: 680px;
}
/*cancion*/
.flexCancion {
    text-transform: uppercase;
    font-size: 30px;
    font-family: map-get($tipografias,lectura);
    color: map-get($paletaColores,lectura);
    width: 100%;
    height: auto;
}
.versoPosicion1 {
    display: flex;
    justify-content: flex-start;
    height: auto;
    margin: 96px;
}
.versoPosicion2 {
    display: flex;
    height: auto;
    justify-content: center;
    margin: 96px;
}
.versoPosicion3 {
    display: flex;
    height: auto;
    justify-content: flex-start;
    margin: 20px;
}
.versoPosicion4 {
    display: flex;
    width: 1206px;
    height: auto;
    justify-content: flex-end;
    margin: 96px;
}
.versoPosicion5 {
    display: flex;
    width: 914px;
    height: auto;
    justify-content: flex-end;
    margin: 96px;
}
//video y epigrafe
.videpFlex {
    display: flex;
    margin: 150px;
    flex-direction: column;
}

.flexVideo {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    margin-bottom: 25px;
}

.epigrafeFlex {
    display: flex;
    justify-content: center;
}

.epigrafeIndex {
    width: 560px;
    text-align: center;
    color: map-get($paletaColores,lectura);
    font-family: map-get($tipografias,lectura)
}
main {
    padding-bottom: 821px;
}
.tituloBio {
@extend .tituloANH;
    margin: 80px;
}
.textoFlex {
    display: flex;
    width: 100%;
    height: auto;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
}
.textoUno {
    display: flex;
    width: 675px;
    padding: 20px;
    line-height: 30px;
    margin-block-end: 90px;
    color: map-get($paletaColores,lectura);
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.textoDos {
@extend .textoUno
}
.textoTres {
@extend .textoUno
}
.colorParado {
    color: map-get($paletaColores,amarillo);
}
/*------------------------EL MAL QUERER-------------------------*/
.tituloEMQ {
    @extend .tituloANH;
    margin: 80px;
}
.epigrafeEMQ {
    margin-top: 20px;
    margin-bottom: 200px;
    color: map-get($paletaColores,lectura);
    width: 469px;
}

.albumFlex {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.cancionesTamaño {
    width: 33%;
    padding: 40px;
}
.tituloCancion {
    display: flex;
    justify-content: center;
    color: map-get($paletaColores,lectura);
    width: 100%;
}
.flexFooterEMQ {
    margin-top: 120px;
}
.container {
    padding-left: 0px;
    padding-right: 0px;
}
.padB {
    padding-bottom: 50px;
}
/*------------------------VIDEOS-------------------------*/
.videos {
    margin-block-start: 870px;
    margin-block-end: 120px;
}
.videosEspacio {
    padding: 100px;
}
.padV {
    padding-bottom: 100px;
}