.tituloANH {
    display: flex;
    justify-content: center;
    color: map-get($paletaColores,amarillo);
    text-align: center;
    font-size: 150pt;
    font-family: map-get($tipografias,display);
    font-kerning: none;
    font-weight: normal;
    margin: 20px;
    margin-top: 733px;
}
/*cancion*/
.flexCancion {
    text-transform: uppercase;
    font-size: 30px;
    font-family: map-get($tipografias,lectura);
    color: map-get($paletaColores,lectura);
    width: 100%;
    height: auto;
}
.versoPosicion1 {
    display: flex;
    justify-content: flex-start;
    height: auto;
    margin: 96px;
}
.versoPosicion2 {
    display: flex;
    height: auto;
    justify-content: center;
    margin: 96px;
}
.versoPosicion3 {
    display: flex;
    height: auto;
    justify-content: flex-start;
    margin: 20px;
}
.versoPosicion4 {
    display: flex;
    width: 1206px;
    height: auto;
    justify-content: flex-end;
    margin: 96px;
}
.versoPosicion5 {
    display: flex;
    width: 914px;
    height: auto;
    justify-content: flex-end;
    margin: 96px;
}
.epigrafeFlex {
    display: flex;
    justify-content: center;
}
.mainIndex {
    padding-bottom: 821px;
}
/*------------------------BIOGRAFIA-------------------------*/
.tituloBio {
@extend .tituloANH;
    margin: 80px;
}
.textoFlex {
    display: flex;
    width: 100%;
    height: auto;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
}
.textoUno {
    display: flex;
    width: 675px;
    padding: 20px;
    line-height: 30px;
    margin-block-end: 90px;
    color: map-get($paletaColores,lectura);
    font-family: map-get($tipografias, lectura);
    text-align: left;
    justify-content: center;
    flex-direction: column;
}
.textoDos {
@extend .textoUno
}
.textoTres {
@extend .textoUno;
margin-bottom: 900px;
}
.colorParado {
    color: map-get($paletaColores,amarillo);
}
/*------------------------EL MAL QUERER-------------------------*/
.tituloEMQ {
    @extend .tituloANH;
    margin: 80px;
}
.albumFlex {
    padding: 20px;
    margin-bottom: 25px;
}
.repSpotify {
    width: 500px;
    margin-bottom: 140px;
}
.cancionesTamaño {
    width: 33%;
    padding: 40px;
}
.tituloCancion {
    display: flex;
    justify-content: center;
    color: map-get($paletaColores,lectura);
    width: 100%;
}
.flexFooterEMQ {
    margin-top: 120px;
}
.container {
    padding-left: 0px;
    padding-right: 0px;
}
.padB {
    padding-bottom: 50px;
}
/*------------------------VIDEOS-------------------------*/
.videos {
    margin-block-start: 870px;
    margin-block-end: 120px;
}
.videosEspacio {
    padding: 100px;
}
.padV {
    padding-bottom: 100px;
}
.tamañoVideo {
    width: 100%;
    height: 500px;
}
// suscribirse 
.formulario {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 1060px;
}
.formulario form {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.formularioDatos {
    margin: 22px;
    padding: 25px;
    border-radius: 1.3em;
    background-color: map-get($paletaColores,amarillo);
    border: map-get($paletaColores,amarillo);
    font-family: map-get($tipografias, lectura);
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    transition: all 1s;
}

.formularioDatos:hover {
    background-color: map-get($paletaColores, lectura);
    text-decoration: none;
    border: none;
}
.tituloSus {
    @extend .tituloANH;
    margin: 80px
}
.epigrafeSus {
    margin-top: 20px;
    margin-bottom: 200px;
    color: map-get($paletaColores,lectura);
    width: 469px;
}