* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}
@import "loader";
@import "grid";
//componentes principales
@import "componentes";
//nav
@import "nav";
//main
@import "principal";
//footer
@import "footer";
a.animacionNav {
    color: map-get($paletaColores,amarillo) ;
}
a:visited { 
    text-decoration: none; 
}
a:hover { 
    text-decoration: none; 
    color: map-get($paletaColores,amarillo);
}
//padding
.parallax {
    background-image: url(../assets/imagenes/portada.png);
    background-position-x: initial;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
}
.parallax__2 {
    @extend .parallax;
    background-image: url(../assets/imagenes/biografia.png);
    background-position-y: bottom
}
.parallax__3 {
    @extend .parallax;
    background-image: url(../assets/imagenes/elmalquerer.png);
}
.parallax__4 {
    @extend .parallax;
    background-image: url(../assets/imagenes/videos.png);
}
.parallax__5 {
    @extend .parallax;
    background-image: url(../assets/imagenes/suscribirse.png);
    background-position-y: bottom;
}
@import "media1920";
@import "media1024";
@import "media768";
@import "media480";
@import "mobile";
@import "media360";