body {
    margin: 0px;
    padding: 0px;
}

/*tipografias*/
@font-face {
    font-family: "monk-ghotic";
    src: url(../assets/fuentes/Monk-Gothic.ttf);
}
@font-face {
    font-family: "cabinet-grotesk";
    src: url(../assets/fuentes/CabinetGrotesk-Regular.otf);
}
@font-face {
    font-family: "rosario";
    src: url(../assets/fuentes/Rosario-Regular.ttf);
}
@font-face {
    font-family:"Mara";
    src: url(../assets/fuentes/Marags├ó-Display.otf);
}

/*propiedades q modifiquen en general*/

a {
    text-decoration: none; 
}

ul {
        list-style-type: none;
}

svg {
    fill: var(--colorDestacados);
    width: 50px;
    height: auto;
}

.colorLectura {
    color: #FCEAD4;
    font-family: "rosario";
    font-weight: normal; 
}

.colorLecturaNegro {
    color:black;
    font-family: "rosario";
    font-weight: normal; 
}

.colorParado {
    color: #F8B133;
}
.bgNav {
    color: var(--colorDestacados);
}

.navbar-expand-lg {
    width: 100%;
}
.navbar-collapse {
    width: 100%;
}
#navbarNavDropdown {
    width: 100%;
}
/*--------------------------------VISTA DESKTOP-----------------------------------*/
/*--------------------------------css inicio-----------------------------------*/
.parallax {
    background-image: url(../assets/imagenes/portada-inicio.jpg);
    background-position-x: initial;
    background-repeat: no-repeat;
    background-size: cover;
}
.logoIndex {
    display: flex;
    justify-content: center;
}

.barraNavIzq {
    display: flex;
    font-size: 20px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-inline-start: 20px;
    width: 344px;
    margin-left: 71px;
    position: relative;
    top: -101px;
}

.barraNavDer {
    display: flex;
    font-size: 20px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-inline-start: 0px;
    padding-block-end: 20px;
    text-decoration: none;
    margin-right: 919px;
    position: relative;
    top: -92px;
    left: 243px;
}

.animacionNav {
    transition: all 1s;
    text-decoration: none!important;
    color: #FCEAD4
}

.animacionNav:hover {
    transform: translateY(20px);
    text-decoration: none!important;
    color: #FCEAD4;
}

li {
padding: 20px;
}

.contenidoTitulo {
    color: #F8B133;
    text-align: center;
    font-size: 150pt;
    font-family: "monk-ghotic";
    font-kerning: none;
    font-weight: normal;
    margin: 20px;
}

.tituloANH {
    margin: 20px;
    margin-top: 710px;
}


/*cancion*/
.flexCancion {
    text-transform: uppercase;
    font-size: 30px;
    font-family: "rosario";
    width: 100%;
    height: auto;
}

.versoPosicion1 {
    height: auto;
    margin: 96px;
}

.versoPosicion2 {
    height: auto;
    margin: 96px;
}

.versoPosicion3 {
    height: auto;
    margin: 20px;
}

.versoPosicion4 {
    width: 1206px;
    height: auto;
    margin: 96px;
}

.versoPosicion5 {
    width: 914px;
    height: auto;
    margin: 96px;
}

/*video y epigrafe*/

.videpFlex {
    display: flex;
    margin: 150px;
    flex-direction: column;
}

.flexVideo {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}

.epigrafeFlex {
    display: flex;
    justify-content: center;
}

.epigrafeIndex {
    width: 560px;
    text-align: center;
    margin-top: 20px;
}

/*footer*/

.flexFooter {
    display: flex;
    align-content: space-between;
    justify-content: center;
    height: 35px;
    margin-top: 100px;
    margin-bottom: 70px;
}

svg {
    fill: var(--colorDestacados);
}
.redesSociales {
    display: flex;
    align-content: space-between;
    fill: #F8B133;
}

.redesWidth {
    display: flex;
    align-items: space-around;
    justify-content: center;
    width: 333px;
    height: auto;
}

/*--------------------------------css biografía-----------------------------------*/
.parallax__2 {
    background-image: url(../assets/imagenes/portada-biografia.jpg);
    background-position-y: bottom;
    background-position-x: initial;
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    padding-bottom: 821px;
}
.mainNombre {
    display: flex;
    margin: 80px;;
}

.textoFlex {
    width: 100%;
    height: auto;
    font-size: 20px;
}

.textoUno {
    width: 610px;
    padding: 20px;
    line-height: 30px;
    margin-block-end: 90px;
}

.textoDos {
    width: 610px;
    padding: 20px;
    line-height: 30px;
    margin-block-end: 90px;
}

.textoTres {
    width: 610px;
    padding: 20px;
    line-height: 30px;
    margin-block-end: 90px;
}

footer {
    grid-area: footer;
}

/*--------------------------------css el mal querer-----------------------------------*/
.parallax__3 {
    background-color: black;
    background-position-x: initial;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}
.epigrafeEMQ {
    margin-top: 20px;
    margin-bottom: 200px;
}

.albumFlex {
    display: flex;
    justify-content: center;
}

.rowCanciones {
    display: flex;
    width: 1161px;
}

.cancionesTamaño {
    width: 33%;
    padding: 20px;
}

.tercerFilaCan {
    position: relative;
    left: -56px;
}

.cuartaFilaCan {
    position: relative;
    left: -48px;
}

.flexFooterEMQ {
    margin-top: 120px;
}
/*--------------------------------css videos-----------------------------------*/
.parallax__4 {
    background-image: url(../assets/imagenes/portada-videos.jpg);
    background-position-x: initial;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}
.videos {
    margin-block-start: 870px;
    margin-block-end: 120px;
}
.videosEspacio {
    padding: 100px;
}
/*--------------------------------css suscribirse-----------------------------------*/
.parallax__5 {
    background-image: url(../assets/imagenes/portada-suscribirse.jpg);
    background-position-x: initial;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}

/*--------------------------------VISTA MOBILE-----------------------------------*/
@media only screen and (min-width: 0px) and (max-width: 768px){
    :root {
        --colorLectura: #FCEAD4;
        --colorDestacados: #F8B133;
        --colorNegro: black;
        --fuenteLecturaMobile: 14px
    }
    svg {
        width: 25px;
        height: auto;
        padding-bottom: 50PX;
    }
/*--------------------------------css MOBILE  inicio-----------------------------------*/
.barraNavIzq {
    display: flex;
    font-size: 15px;
    flex-direction: column;
    align-items: center;
}

.barraNavDer {
    display: flex;
    font-size: 15px;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.parallax {
    background-image: url(../assets/imagenes/portada-inicio.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: auto;
}

.contenidoTitulo {
    font-size: 42pt;
    margin-block-start: -649px;
    margin-block-end: 80px;
}

.flexCancion {
    font-size: 7pt;
    margin-block-start: -41px;
    position: relative;
    left: 12px;
    width: 348px;
}

.versoPosicion1 {
    display: flex;
    justify-content: flex-start;
    height: auto;
    margin: 32px;
    margin-left: 52px;
}

.versoPosicion2 {
    display: flex;
    height: auto;
    justify-content: center;
    margin-left: 96px;
    margin: 20px;
}

.versoPosicion3 {
    display: flex;
    height: auto;
    justify-content: flex-start;
    margin: 6px;
}

.versoPosicion4 {
    display: flex;
    width: 260px;
    height: auto;
    justify-content: flex-end;
    margin-left: 96px;
    margin-block-end: 40px;
    margin-block-start: 40px;
}

.versoPosicion5 {
    display: flex;
    width: 229px;
    height: auto;
    justify-content: flex-end;
    margin-block-start: 40px;
    margin-block-end: 40px;
}

/*video y epigrafe*/

.videpFlex{
    display: flex;
    margin: 150px;
    flex-direction: column;
    margin-top: 60px;
}

.flexVideo {
    display: flex;
    justify-content: center;
    width: 355px;
    height: auto;
    margin-left: -122px;
    margin-bottom: -18px;
}

.epigrafeFlex {
    display: flex;
    justify-content: center;
    width: 346px;
    height: auto;
    margin-left: -122px;
    font-size: 10pt;
}

.epigrafeIndex {
    width: 560px;
    text-align: center; 
}
.flexFooter {
    display: flex;
    align-content: center;
    justify-content: center;
    height: auto;
    width: auto;
    margin: auto;
}

.redesSociales {
    display: flex;
    align-content: center;
}

.redesWidth {
    display: flex;
    width: 83px;
    justify-content: space-around;
}

/*--------------------------------css MOBILE biografía-----------------------------------*/
body {
    margin: 0px;
    padding: 0px;
}
.flexMain {
    display: flex;
}
.parallax__2 {
    background-color: black;
    background-image: url(../assets/imagenes/portada-biografia.jpg);
    background-position-y: bottom;
    background-size: 100%;
}
.grillaBio {
    display: grid;
    grid-template-areas: 
    "header header"
    "navIzq navDer"
    "contenidoTitulo contenidoTitulo"
    "textoUno textoUno"
    "textoDos textoDos"
    "textoTres textoTres"
    "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 150px 1000px 1000px 1000px 100px;
}

header {
    grid-area: header;
}
.navIzq {
    grid-area: navIzq;
}
.navDer {
    grid-area: navDer;
}
.textoUno {
    grid-area: textoUno;
    color: var(--colorLectura);
}
.textoDos {
    grid-area: textoDos;
    color: var(--colorLectura);
}
.textoTres {
    grid-area: textoTres;
    color: var(--colorLectura);
}
footer {
    grid-area: footer;
}
/*--------------------------------css MOBILE VIDEOS-----------------------------------*/
.parallax__4 {
    background-image: url(../assets/imagenes/portada-videos.jpg);
    background-position-x: initial;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
}
}